@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/************************
reset css 
************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/************************
join 
************************/
input::placeholder,
textarea::placeholder {color: #ccc;}
button {padding: 0; border: none; background: transparent; cursor: pointer;}
a{text-decoration: none;}
.sr-only{position: absolute; overflow: hidden; width: 1px; height: 1px; margin: -1px; border: 0; clip: rect(0,0,0,0);}
.contents {padding: 64px 0 160px;}
.inner {width: 960px; margin:0 auto;}

.main-heading2 {font-size:30px;}
.main-heading3 {font-size:20px;}
.title-sub {padding-top: 20px; font-size: 15px; color: #8e8c8e; font-weight: bold;}
.join-form {border: 1px solid #f0f0f0; border-bottom: 0px; padding: 18px 0 53px; margin-top: 44px;}
.join-form .input-wrap {position: relative; width: 400px; margin: auto;}
.join-form .input-wrap label {display: block; padding-bottom: 6px; margin-top: 53px; font-size: 15px; color: #555; font-weight: bold; text-indent: 15px;}
.join-form .input-custom {position: relative; width: 100%; padding: 0 20px; height: 48px; border: none; border-bottom: 1px solid #e3e3e3; font-size: 18px; box-sizing: border-box; }
.join-form .input-custom:focus {border-color: #ffbc00;}
.join-form .notice {display:block; padding-top: 12px; font-size:13px; color: #555;}
.join-form .input-email {padding-right: 90px;}
.join-form .button-check {position: absolute; top: 30px; right: 0; font-size:18px; color: #222; font-weight: bold;}
.join-form .button-delete {position: absolute; bottom: 38px; right: 0; width: 21px; height: 22px; background: url('../images/form_delete.png') center no-repeat;}

.check-custom {position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; clip: rect(0,0,0,0);}
.join-service {padding: 50px 0 66px; background-color: #fafafa; border: 1px solid #f0f0f0; border-top: 0px;}
.join-service .check-wrap {display: flex; width: 430px; margin: auto; box-sizing: border-box;}
.join-service .check-wrap ~ .check-wrap {margin-top: 16px; padding-left: 35px;}
.join-service .check-wrap:first-child label {font-weight: bold; color: #222;}
.join-service .check-wrap label {display: inline-block; position: relative; padding-left: 36px;font-size: 15px; color:#888; cursor: pointer;}
.join-service .check-wrap label:before{display: block; content: ''; width: 26px; height: 25px; background: url('../images/chk_off.png') center top no-repeat; position: absolute; top: -3px; left: 0;}
.join-service .modal-button{margin-left:auto; font-size: 15px; text-decoration: underline;}
.join-service .check-wrap [type='checkbox']:checked + label::before {background-image: url('../images/chk_on.png');}

.button-wrap {margin-top: 50px; text-align: center; font-size: 0;}
/*
button 은 기본적으로 inline-block / box-sizing: border-box가 기본적으로 내장
a태그도 같이 써줘야 되기때문에 inline-block (+) box-sizing도 같이 넣어줘야 한다.
*/
/*
line-height, height 넣어주면 button, a tag 크기 다름.
line-height=1주고 padding으로 높이값맞추기
*/
.button-main {display: inline-block; padding: 18px 10px 19px; background-color: #9e8c6e; width: 400px; margin: auto; text-align: center; font-size: 18px; line-height: 1; color: #fff; box-sizing: border-box; overflow: hidden; vertical-align: top;}
.button-main + .button-main {margin-left:10px;}

/************************
modal
************************/
/* .modal-wrap {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 960px; height: 574px; background-color: #eaeaea;} */
.modal-wrap .modal-header {display: flex; flex-direction: row;}
.modal-wrap .main-heading3 {font-weight: normal;}
.modal-wrap .modal-close {width:24px; height: 24px; background: url('../images/ico_pop_big_close.png') no-repeat;}